<footer class="footer">
	<div class="container">
		<div class="footer__inner">
			<a href="#" class="header__logo footer__logo">
				<h2 class="header__logo-up">LoftHouse</h2>
				<div class="header__logo-down">Жилой комлекс</div>
			</a>
			<div class="footer__nav">
				<nav>
					<ul class="footer__nav-list">
						<li class="nav__item"><a class="nav__link" href="#">О комплексе</a></li>
						<li class="nav__item"><a class="nav__link" href="#">Район</a></li>
						<li class="nav__item"><a class="nav__link" href="#">Каталог квартир</a></li>
						<li class="nav__item"><a class="nav__link" href="#">Ипотека</a></li>
						<li class="nav__item"><a class="nav__link" href="#">Контакты</a></li>
					</ul>
				</nav>
			</div>
			<div class="footer__nav">
				<nav>
					<ul class="footer__nav-list">
						<li class="nav__item"><a class="nav__link" href="#">Поселение и переезд</a></li>
						<li class="nav__item"><a class="nav__link" href="#">Сервисные услуги</a></li>
						<li class="nav__item"><a class="nav__link" href="#">Экологическая устойчивость</a></li>
						<li class="nav__item"><a class="nav__link" href="#">Инвестиционные возможности</a></li>
						<li class="nav__item"><a class="nav__link" href="#">Программа лояльности</a></li>
					</ul>
				</nav>
			</div>
			<div class="footer__address">
				<ul class="footer__nav-list">
					<li>Адрес: Наб. реки Фонтанки 10-15</li>
					<li>Телефон: <a href="#">+7 (999) 999-99-99</a></li>
					<li>Отдел продаж 10:00 - 20:00</li>
					<li>Email: <a class="link-bold" href="#">vip@lofthouse.ru</a></li>
				</ul>
				<ul class="footer__socials">
					<li class="footer__socials-item">
						<a href="#" class="footer__socials-link"><img src="../../img/socials/yt.svg" alt=""></a>
					</li>
					<li class="footer__socials-item">
						<a href="#" class="footer__socials-link"><img src="../../img/socials/vk.svg" alt=""></a>
					</li>
					<li class="footer__socials-item">
						<a href="#" class="footer__socials-link"><img class="big" src="../../img/socials/fb.svg" alt=""></a>
					</li>
					<li class="footer__socials-item">
						<a href="#" class="footer__socials-link"><img class="big" src="../../img/socials/stogr.svg" alt=""></a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</footer>
