<header class="header">
	<div class="container">
		<div class="header__inner">
			<div class="header__top">
				<a href="#" class="header__logo">
					<h1 class="header__logo-up">LoftHouse</h1>
					<div class="header__logo-down">Жилой комлекс</div>
				</a>
				<div class="header__nav">
					<nav class="nav">
						<ul class="nav__list">
							<li class="nav__item"><a class="nav__link" href="#">О комплексе</a></li>
							<li class="nav__item"><a class="nav__link" href="#">Район</a></li>
							<li class="nav__item"><a class="nav__link" href="#">Каталог квартир</a></li>
							<li class="nav__item"><a class="nav__link" href="#">Ипотека</a></li>
							<li class="nav__item"><a class="nav__link" href="#">Контакты</a></li>
						</ul>
					</nav>
				</div>
				<div class="header__nav-btn">
					<button class="nav-icon-btn">
						<div class="nav-icon">

						</div>
					</button>
				</div>
			</div>
			<div class="header__middle">
				<h1 class="header__title">Жилой комплекс<br>в историческом центре</h1>
				<a class="header__mouse" href="#benefits">
					<img src="img/mouse.svg" alt="" width="75" >
				</a>
			</div>
			<div class="header__bottom">
				<div class="text-right">
					<a href="#section-map" class="header__map"><img width="18" src="img/map.svg" alt="">Наб. реки Фонтанки 10-15</a>
				</div>
				<div>
					<a href="#" class="header__tel"><img width="25" src="img/phone.svg" alt="">+7 (999) 999-99-99</a> 
				</div>
			</div>
		</div>
	</div>
</header>
