<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{title}}</title>
<link rel="stylesheet" href="css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap" rel="stylesheet">
<script src="https://api-maps.yandex.ru/2.1/?apikey=e66edf62-5243-44ef-a0b9-39af234a212a&lang=ru_RU" type="text/javascript" defer></script>

<script src="js/index.js" defer></script>