.form__input {
	height: 50px;
	padding: 12px;
	text-align: center;
	background-color: rgba($color: $white, $alpha: .2);
	color: $white;
	font-size: 14px;
	transition: background-color .2s ease;
	&::placeholder{
		color: $placeholder-color;
	}
	&:focus{
		background-color: rgba($color: $white, $alpha: .3);
	}
}
.form__privacy {
	font-size: 13px;
	line-height: 16px;
	color: $muted;
	text-align: center;
	&--bottom{
		@include mediaTablet(){
			grid-row: 4/5;
		}
	}
	
}
.form__btn {
	height: 50px;
	font-size: 16px;
	color: $white;
	font-weight: 700;
	text-align: center;
	padding: 12px;
	background-color: $accent;
	transition: background-color .2s ease;
	&:hover{
		background-color: saturate($color: $accent, $amount: 10%);
	}
}